<div class="p-item">
    <div class="p-item_wrapper">
        <div class="p-item_container">
            <div class="p-item_main bg-gray">
                <h1>main area</h1>
                <%= @post.content %>
            </div>
            <div class="p-item_ad bg-black">
                ad
            </div>
            <div class="p-item_side bg-blue">
                <h2>side area</h2>
            </div>
        </div>
    </div>
</div>
