@mixin transform($value){
    -webkit-transform: ($value);
       -moz-transform: ($value);
        -ms-transform: ($value);
            transform: ($value);
  }
  @mixin transition($value){
    -webkit-transition: ($value);
       -moz-transition: ($value);
        -ms-transition: ($value);
            transition: ($value);
  }
.drop {
    overflow: hidden;
    position: absolute;
    top: 80px;
    right: 0;
    color: black;
    list-style: none;
    margin: 0;
    padding: 0;
    div {
        height: 80px;
        @include transform(translate(10%,-100%));
        @include transition(all 0.5s 0.1s);
    }
    .h-link {
        display: block;
        color: black;
        border: 1px solid rgba(40, 77, 77, 0.2);
        padding: 10px 20px;
        @include transform(scale(0.5, 0.5));
        @include transition(all 0.5s 0.1s);
        &:hover {
            background-color: rgb(0, 255, 255);
            @include transition(all 0.5s 0.1s);
        }
    }
}
.drop.active div {
    @include transform(translate(0,0));
    .h-link {
        @include transform(scale(1, 1));
    }
}